body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 100vh;
}

h1 {
    font-family: monospace;
    color: darkgray;
    font-weight: 100;
}

.img {
    height: 100px;
    width: 100px;
    display: block;
    background-image: url(https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67);
    background-size: cover;
    margin-right: 50px;
}